@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slide-in-left {
    animation: slide-in-left 1s ease-out forwards;
  }
  .animate-slide-in-right {
    animation: slide-in-right 1s ease-out forwards;
  }
  @keyframes slide-in-left {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
